body {
	font-weight: 300;
	background-color: #f9f9f9;
}

h1, h2, h3 {
	color: $brand-primary;
}

img {
	max-width: 100%;
}

a {
	&:hover, &:focus {
		text-decoration: none;
	}
}

p {
	a {
		border-bottom: 1px solid;
		color: #7a9544;
		&:hover {
			color: $text-color;
		}
	}
}

.container {
	@media (min-width: $screen-sm) {
		padding: 0 50px;
	}
}

.main>h2:first-child {
	margin-top: 0;
}

.btn-primary {
	font-size: 24px;
	&:after {
		content: '\f0da';
	    font-family: fontawesome;
	    margin-left: 15px;
	}
}

.text-lg {
	font-size: 24px;
	font-weight: 500;
	color: $brand-primary;
}

a.text-lg {
	&:after {
		content: '\f0da';
	    font-family: fontawesome;
	    margin-left: 8px;
	}
	&:hover {
		text-decoration: none;
		border-bottom: 1px solid;
	}
}

.navbar-default {
	background: linear-gradient(to top, #282c15 0%, $brand-primary 100%);
	margin-bottom: 0;
	.navbar-toggle {
		border: none;
		.icon-bar {
			background-color: #fff;
		}
		&:hover, &:focus {
			background-color: transparent;
		}
	}
	.navbar-brand {
	    padding: 30px 15px;
		float: left;
		font-size: 19px;
		@media (min-width: $screen-xs) {
			font-size: 23px;
			padding: 27px 15px 27px;
		}
		@media (min-width: $screen-sm) {
			padding: 27px 15px 27px 0;
		}
		img {
			display: inline;
		    padding-right: 10px;
		    width: 70px;
		    @media (min-width: $screen-xs) {
		    	width: 80px;
		    }
		}
		.brand-bold {
			font-weight: 500;
		}
		span {
		    vertical-align: middle;
		}
		&:hover, &:focus {
			color: #fff;
		}
	}
	.select-church {
		display: none;
		position: relative;
		float: left;
        padding: 28px 10px 24px;
	    @media (min-width: $screen-sm) {
	    	display: block;
	    }
		&:before {
			position: absolute;
		    content: '';
		    width: 1px;
		    height: 30px;
		    background-color: #fff;
		    left: 0;
		    top: 50%;
		    margin-top: -13px;
		}
		.dropdown {
			button {
				background-color: transparent;
				border: none;
				font-size: 18px;
				width: 100%;
				text-align: left;
				color: #fff;
			    padding: 6px 10px;
			    transition: background-color .2s;
			    border-radius: 6px 6px 0 0;
				&:focus {
					outline: none;
				}
			}
			.dropdown-menu {
				width: 100%;
				background-color: #282B16;
				border: 0;
				box-shadow: none;
				color: #fff;
				margin: 0;
				border-radius: 0 0 6px 6px;
				li a {
					color: #fff;
					&:hover {
						background-color: #545545;
						color: #fff;
					}
				}
			}
			&.open {
				button {
					background-color: #282B16;
				}
			}
		}
	}
	.navbar-nav {
		@media (min-width: $screen-sm) {
			float: right;
	    font-size: 17px;
		}
		@media (min-width: $screen-lg) {
			li:hover {
				.dropdown-menu {
					display: block !important;
				}
			}
		}
		li {
			text-transform: uppercase;
			.dropdown-toggle {
				display: inline-block;
			}
			.caret-toggle {
				display: inline-block;
				background-color: rgba(0,0,0,.2);
				border-radius: 6px;
				float: right;
				margin: 5px 15px 5px 0px;
				padding: 5px 30px;
				&:hover, &:focus {
					background-color: rgba(0,0,0,.2);
				}
				@media (min-width: $screen-lg) {
					display: none;
				}
			}
			&.open .dropdown-menu {
				@media (max-width: $screen-lg) {
					position: static;
					float: none;
					width: auto;
					margin-top: 0;
					background-color: transparent;
					border: 0;
					box-shadow: none;
					background-color: rgba(0,0,0,.2);
					border-radius: 6px;
					margin: 0 15px;
					li {
						a {
							color: #fff;
							&:hover {
								background: transparent;
							}
						}
					}
				}
			}
		}
	}
	.dropdown-location {
		@media (min-width: $screen-sm) {
			display: none;
		}
		button {
			background-color: rgba(0,0,0,0.2);
			border: none;
			font-size: 18px;
			width: 100%;
			color: #fff;
			margin-top: 20px;
			border-radius: 6px;
			padding: 10px;
			&:focus {
				outline: none;
			}
		}
		.dropdown-menu {
			position: relative;
			width: 100%;
			background-color: rgba(0,0,0,0.2);
			box-shadow: none;
			border: none;
			border-radius: 0 0 6px 6px;
			margin: 0 0 20px 0;
			text-align: center;
			a {
				color: #fff;
				&:hover {
					background: transparent;
					color: darken(#fff,20%);
				}
			}
		}
		&.open {
			button {
				border-radius: 6px 6px 0 0;
			}
		}
	}
}

@media (max-width: $screen-lg) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.hero {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 485px;
	margin: 0 -15px;
	padding: 90px 15px;
	text-transform: uppercase;
	text-align: left;
	overflow: hidden;
	@media (min-width: $screen-sm) {
		margin: 0 -50px;
		padding: 90px 130px;
	}
	&.splash {
		background-image: url(../images/hero.jpg);
		height: 540px;
		padding: 180px 15px 0;
		@media (min-width: $screen-sm) {
			padding: 180px 130px 0;
		}
	}
	h1 {
		margin-top: 0;
		color: #fff;
		font-weight: 700;
	}
	span {
		font-size: 24px;
		color: #bfc0b2;
		font-weight: 500;
	    letter-spacing: 0.1em;
	}
	&:before, &:after {
		content:'';
		position: absolute;
		bottom: 0;
		width: 50%;
		padding-bottom: 25px;
		background-color: #f9f9f9;
	}
	&:before {
		right: 50%;
		transform-origin: 100% 100%;
		transform: skewX(45deg);
	}
	&:after {
		left: 50%;
		transform-origin: 0 100%;
		transform: skewX(-45deg);
	}
}

.page-template-template-homepage {
	.main {
		padding-bottom: 0;
		text-align: center;
	}
}

section.arrow-down {
	position: relative;
	z-index: 1;
	padding-bottom: 30px;
	&:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #f9f9f9;
		border-width: 25px;
		margin-left: -25px;
	}
}

.current-sermon {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 485px;
	margin: 0 -15px;
	text-align: left;
	overflow: hidden;
	@media (min-width: $screen-sm) {
		margin: 0 -50px;
	}
	a {
		display: block;
		text-align: center;
		position: absolute;
		width: 100%;
		bottom: 60px;
		color: $text-color;
		padding: 0 15px;
		&:hover {
			border: none;
			opacity: 0.8;
		}
	}
	&:before, &:after {
		content:'';
		position: absolute;
		bottom: 0;
		width: 50%;
		padding-bottom: 25px;
		background-color: #f9f9f9;
	}
	&:before {
		right: 50%;
		transform-origin: 100% 100%;
		transform: skewX(45deg);
	}
	&:after {
		left: 50%;
		transform-origin: 0 100%;
		transform: skewX(-45deg);
	}
}

.events {
	ul {
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		li {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 0;
			background-color: #fff;
			border: 1px solid $text-color;
			text-align: left;
			margin-bottom: 20px;
		    padding-bottom: 90px;
			@media (min-width: $screen-sm) {
				width: 32%;
				margin-right: 2%;
				margin-bottom: 0;
			}
			&:last-child {
				margin: 0;
			}
			img {
				width: 100%;
				height: 100%;
			}
			.event-info {
				padding: 20px;
				a {
					h3 {
						margin-top: 0;
					}
				}
			}
			.event-info-bottom {
				position: absolute;
			    width: 100%;
			    bottom: 0;
				.event-date {
					display: block;
					color: $brand-primary;
					font-weight: 500;
					font-size: 22px;
					padding: 0 20px;
				}
				.event-link {
					display: block;
					background-color: $brand-primary;
					color: #fff;
					font-weight: 500;
					font-size: 26px;
					padding: 8px 20px;
				    margin-top: 10px;
					&:hover {
						text-decoration: none;
						background-color: #7a9543;
					}
					&:after {
						content: '\f0da';
					    font-family: fontawesome;
					    float: right;
					}
				}
			}
		}
	}
}

.community {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin: 0 -15px;
    padding: 60px 15px 85px;
    overflow: hidden;
    @media (min-width: $screen-sm) {
		margin: 0 -50px;
		padding: 60px 120px 85px;
	}
    h2 {
    	margin-top: 0;
    	color: #fff;
    }
    p, a {
    	color: #bfc0b2;
    }
    &:before, &:after {
    	content:'';
    	position: absolute;
    	bottom: 0;
    	width: 50%;
    	padding-bottom: 25px;
    	background-color: #f9f9f9;
    }
    &:before {
    	right: 50%;
    	transform-origin: 100% 100%;
    	transform: skewX(45deg);
    }
    &:after {
    	left: 50%;
    	transform-origin: 0 100%;
    	transform: skewX(-45deg);
    }
}

#connect {
	padding-bottom: 40px;
}

.page-header {
    position: relative;
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 -15px 30px;
    padding: 60px 15px 80px;
    border-bottom: 0;
    overflow: hidden;
    @media (min-width: $screen-sm) {
    	padding: 60px 50px 80px;
		margin: 0 -50px 30px;
	}
	h1 {
		color: #fff;
		margin: 0;
		text-transform: uppercase;
	    font-size: 36px;
	    @media (min-width: $screen-xs) {
		    font-size: 46px;
	    }
	}
	&:before, &:after {
		content:'';
		position: absolute;
		bottom: 0;
		padding-bottom: 25px;
		background-color: #f9f9f9;
	}
	&:before {
		right: 90%;
		width: 10%;
		transform-origin: 100% 100%;
		transform: skewX(45deg);
	}
	&:after {
		left: 10%;
		width: 90%;
		transform-origin: 0 100%;
		transform: skewX(-45deg);
	}
}

.main {
	padding-bottom: 50px;
}

.splash-navbar {
	background: transparent;
	position: absolute;
	width: 100%;
	border: none;
	.navbar-brand {
		color: #fff;
		font-size: 19px;
		@media (min-width: $screen-xs) {
			font-size: 23px;
		}
		@media (min-width: $screen-sm) {
			padding: 45px 15px 0 90px;
		}
		img {
			display: inline;
		    padding-right: 10px;
		    width: 70px;
		    @media (min-width: $screen-xs) {
		    	width: 80px;
		    }
		}
		.brand-bold {
			font-weight: 500;
		}
		span {
		    vertical-align: middle;
		}
		&:hover {
			color: #fff;
		}
	}
	.select-church {
		display: none;
		position: relative;
		float: left;
	    padding: 45px 10px 0;
	    @media (min-width: $screen-sm) {
	    	display: block;
	    }
		&:before {
			position: absolute;
		    content: '';
		    width: 1px;
		    height: 30px;
		    background-color: #fff;
		    left: 0;
		    margin-top: 3px;
		}
		.dropdown {
			button {
				background-color: transparent;
				border: none;
				font-size: 18px;
				width: 100%;
				text-align: left;
				color: #fff;
			    padding: 6px 10px;
			    transition: background-color .2s;
			    border-radius: 6px 6px 0 0;
				&:focus {
					outline: none;
				}
			}
			.dropdown-menu {
				width: 100%;
				background-color: #282B16;
				border: 0;
				box-shadow: none;
				color: #fff;
				margin: 0;
				border-radius: 0 0 6px 6px;
				li a {
					color: #fff;
					&:hover {
						background-color: #545545;
						color: #fff;
					}
				}
			}
			&.open {
				button {
					background-color: #282B16;
				}
			}
		}
	}
}

.page-template-template-splash {
	text-align: center;
}

.churches {
	ul {
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		li {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 0;
			background-color: #fff;
			border: 1px solid $text-color;
			text-align: left;
			margin-bottom: 20px;
			@media (min-width: $screen-sm) {
				width: 32%;
				margin-right: 2%;
				margin-bottom: 0;
			}
			&:last-child {
				margin: 0;
			}
			img {
				width: 100%;
				height: 100%;
			}
			.church-info {
				padding: 20px 20px 60px 20px;
				h3 {
					margin-top: 0;
				}
				a {
					border: none;
				}
			}
			.church-link {
				position: absolute;
				width: 100%;
				bottom: 0;
				background-color: $brand-primary;
				color: #fff;
				font-weight: 500;
				font-size: 26px;
				padding: 8px 20px;
				&:hover {
					text-decoration: none;
					background-color: #7a9543;
				}
				&:after {
					content: '\f0da';
				    font-family: fontawesome;
				    float: right;
				}
			}
		}
	}
}

footer.content-info {
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: left;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
	.contact-info {
		float: left;
		.footer-logo {
			font-size: 19px;
			margin-bottom: 20px;
			@media (min-width: $screen-xs) {
				font-size: 33px;
			}
			a {
				color: #fff;
			}
			img {
			    padding-right: 10px;
			    width: 70px;
			    @media (min-width: $screen-xs) {
			    	width: 80px;
			    }
			}
			.brand-bold {
				font-weight: 500;
			}
			span {
			    vertical-align: middle;
			}
			&:hover {
				color: #fff;
			}
		}
		.tagline {
			display: block;
			text-transform: uppercase;
			font-size: 22px;
		}
		.contact {
			display: block;
			margin-top: 20px;
			a {
				color: #fff;
				&:hover {
					color: darken(#fff, 10%);
				}
			}
		}
	}
	.select-church {
		display: none;
		float: right;
		width: 200px;
		@media (min-width: $screen-sm) {
			display: block;
		}
		.dropdown {
			button {
				background-color: transparent;
				border: none;
				font-size: 20px;
				width: 100%;
				text-align: left;
				color: #fff;
			    padding: 6px 10px;
			    transition: background-color .2s;
			    border-radius: 6px 6px 0 0;
				&:focus {
					outline: none;
				}
			}
			.dropdown-menu {
				width: 100%;
				background-color: #282B16;
				border: 0;
				box-shadow: none;
				color: #fff;
				margin: 0;
				border-radius: 0 0 6px 6px;
				li a {
					color: #fff;
					&:hover {
						background-color: #545545;
						color: #fff;
					}
				}
			}
			&.open {
				button {
					background-color: #282B16;
				}
			}
		}
	}
}

.summary-section {
	position: relative;
	background-position: center center;
	background-size: cover;
	.first-item {
		margin-top: 0;
	}
	&.light {
    z-index: 1;
    padding: 30px 0 50px;
		&:after {
	    top: 100%;
	    left: 50%;
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    pointer-events: none;
	    border-color: rgba(255,255,255,0);
	    border-top-color: #f9f9f9;
	    border-width: 25px;
	    margin-left: -25px;
		}
	}
	&.dark {
		color: #fff;
		background-color: $brand-primary;
		h1, h2, h3, h4 {
			color: #fff;
		}
		&:before, &:after {
    	content:'';
    	position: absolute;
    	bottom: 0;
    	width: 50%;
    	padding-bottom: 25px;
    	background-color: #f9f9f9;
    }
    &:before {
    	right: 50%;
    	transform-origin: 100% 100%;
    	transform: skewX(45deg);
    }
    &:after {
    	left: 50%;
    	transform-origin: 0 100%;
    	transform: skewX(-45deg);
    }
		@media (min-width: $screen-sm) {
			margin: 0 -50px;
	    padding: 60px 50px 70px;
		}
	}
	&:first-of-type {
		@media (min-width: $screen-sm) {
			padding: 45px 50px 70px;
		}
	}
	&:last-of-type {
		&:after {
			content: none;
		}
	}
}

.page-template-template-summary {
	main {
		padding-bottom: 0;
	}
}

.form-control {
	border: 2px solid #a0a0a0;
	&:focus {
		outline: none;
		box-shadow: none;
		border: 2px solid #7a9544;
	}
}

#seriesengine a, #seriesengine h1, #seriesengine h2, #seriesengine h3, #seriesengine h4, #seriesengine h5, #seriesengine h6, #seriesengine p, #seriesengine form, #seriesengine ul, #seriesengine ol, #seriesengine li, #seriesengine ol li, #seriesengine ul li, #seriesengine blockquote, #seriesengine input, #seriesengine input[type="submit"], #seriesengine textarea, #seriesengine select, #seriesengine select:focus, #seriesengine label, #seriesengine table, #seriesengine table tr, #seriesengine table tr td, #seriesengine iframe, #seriesengine object, #seriesengine embed, #seriesengine img {
	font-family: $font-family-sans-serif !important;
}

.enmse_seriesengine_widget_class {
	background-color: #fff;
	border: 1px solid $text-color;
	h3 {
		margin: 0;
		padding: 10px 20px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			img {
				width: 100%;
				display: block;
			}
			h5 {
				display: none;
			}
			a {
				font-weight: 500;
				padding: 10px 20px 0;
				color: $brand-primary;
				font-size: 24px;
				display: block;
				&:hover {
					color: #7a9543;
				}
			}
			h4 {
				padding: 0 20px 10px;
				margin: 0;
				font-size: 18px;
				font-weight: 300;
				color: $text-color;
				display: block;
			}
			p {
				padding: 0 20px;
			}
		}
	}
	.enmse-widgetseries:last-of-type {
		a {
			background-color: $brand-primary;
			color: #fff;
			font-weight: 500;
			font-size: 26px;
			padding: 8px 20px;
			&:hover {
				text-decoration: none;
				background-color: #7a9543;
			}
			&:after {
				content: '\f0da';
			    font-family: fontawesome;
			    float: right;
			}
		}
	}
}

.sidebar-next-step {
	margin: 30px 0;
	background-color: #fff;
	border: 1px solid $text-color;
	h3 {
		margin: 0;
		padding: 10px 20px;
	}
	img {
		width: 100%;
		height: 100%;
	}
	a {
		&:hover {
			color: #7a9543;
		}
		h4 {
			font-size: 24px;
			padding: 15px 20px 0;
			margin: 0;
		}
	}
	p {
		padding: 0 20px;
	}
	.event-info-bottom {
		.event-date {
			display: block;
			color: $brand-primary;
			font-weight: 500;
			font-size: 22px;
			padding: 0 20px;
		}
		.event-link {
			display: block;
			background-color: $brand-primary;
			color: #fff;
			font-weight: 500;
			font-size: 26px;
			padding: 8px 20px;
		    margin-top: 10px;
			&:hover {
				text-decoration: none;
				background-color: #7a9543;
			}
			&:after {
				content: '\f0da';
			    font-family: fontawesome;
			    float: right;
			}
		}
	}
}

.list-view {
	position: relative;
	background-color: #fff;
	border: 1px solid $text-color;
  margin: 0 0 25px;
	padding-bottom: 60px;
	@media (min-width: $screen-sm) {
		margin: 0 -50px 25px;
		padding-bottom: 0;
	}
	&:last-of-type {
		margin: 0;
		@media (min-width: $screen-sm) {
			margin: 0 -50px;
		}
	}
	img {
		width: 100%;
		height: 100%;
		@media (min-width: $screen-sm) {
			float: left;
			margin-right: 25px;
			width: inherit;
		}
	}
	h2,
	h3 {
		margin-top: 25px;
		font-size: 24px;
		padding-right: 25px;
		padding: 0 25px;
		@media (min-width: $screen-sm) {
			padding: 0 25px 0 0;
		}
	}
	.description, .entry-summary {
		padding: 0 25px;
		@media (min-width: $screen-sm) {
			padding: 0 25px 0 0;
		}
	}
	a.main-link {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

p + .list-view {
	margin-top: 30px;
}

.animate-fade {
     opacity:0;
}
.visible{
     opacity:1;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

// Gravity Forms

//
//	Folkhack's Gravity Forms styling
//
//	Table of Contents:
//	- Variables/configuration
//	- General fixes
//	- Required *
//	- input, select, and textarea elemnt extends
//	- Button extend
//	- Error/notification messages handling
//	- Gravity Forms complex containers
//	- Weird-ass clear-multi shit
//	- Date fields
//	- Lists
//	- General Datepicker
//	- Folkhack's jQuery UI Datepicker: (DEPRECIATED!)
//  - Validation container
//
//
//	Based on:
//	- http://roots.io/style-gravity-forms-with-bootstrap/
//	- https://gist.github.com/Gavrisimo/8406309
//	- https://gist.github.com/spigists/6796258
//
//	TODO:
//	- Clean this up once Gravity Forms more-or-less gets their shit more together
//	- Rip apart provided Gravity Forms CSS and implement all specific feature-sets
//	- Better handling of date-fields, currently drop-down dates are AOK to use
//


//
//	Variables/configuration:
//

// Enables/disables jQuery UI datepicker (jQuery UI can go die in a fire...IMHO)
$fh_gf_jqueryui_datepicker_enabled: false !default;
// Setup a reasonable responsive break-point for complex fields
$fh_gf_responsive_break_at: $screen-sm-min !default;


//
//	General fixes:
//

// Field/form container styling:
.gform_wrapper ul { @extend .list-unstyled; }
.gform_wrapper li { @extend .form-group; }
.gform_wrapper form { margin-bottom: 0; }

// Field container clear
.gfield { clear: both; }

// Form description
.gform_heading .gform_description {
	display: block;
	margin: 0 0 10px 0;
}

// Radios/checks
.gfield_checkbox,
.gfield_radio {
	margin: 0 0 0 10px;
	label {
		font-weight: normal;
		margin-left: 10px;
	}
	li { margin-bottom: 0px; }
}

// Multiple select and textarea height fixes
.ginput_container select[multiple] { height: auto; }
.ginput_container textarea { height: auto; }


//
//	Required *:
//
.gform_wrapper .gfield_required {
	color: $state-danger-text;
	padding-left: 1px;
}


//
//	input, select, and textarea elemnt extends:
//
.ginput_container input[type=text],
.ginput_container input[type=email],
.ginput_container input[type=number],
.ginput_container input[type=url],
.ginput_container input[type=tel],
.ginput_container input[type=date],
.ginput_container input[type=password],
.ginput_container select,
.ginput_container textarea {
	@extend .form-control;
}


//
//	Button extend:
//
.gform_button {
	@extend .btn;
	@extend .btn-primary;
}


//
//	Error/notification messages handling:
//
.gform_wrapper .gfield_error {
	.gfield_label { color: $state-danger-text; }
	input,
	select,
	textarea {
		background-color: $alert-danger-bg;
		border-color: $alert-danger-border;
		color: $alert-danger-text;
		@include form-control-focus( $alert-danger-text );
	}
}
.validation_error {
	@extend .alert;
	@extend .alert-danger;
}
.validation_message {
	font-style: italic;
	margin-top: 5px;
}
#gforms_confirmation_message { @extend .alert; }


//
//	Gravity Forms complex containers:
//	- based on discussion from http://roots.io/style-gravity-forms-with-bootstrap/
//	- HELLA refactored to SCSS/responsive sanity =/
//
.ginput_complex {

	// Add a 10px gray border to the left side of complex groupings
	border-left: 10px $gray-lighter solid;
	display: block;
	padding: 10px 0 0 20px;

	// Fix label font weight and top spacing
	label {
		font-weight: normal;
		margin: 5px 0 15px 0;
	}
	span:last-of-type label { margin: 5px 0 0 0; }

	// Full-width container
	.ginput_full { width: 100%; }

	// Left/right containers (ex: first/last name)
	.ginput_left,
	.ginput_right {
		float: left;
		width: 50%;
	}

	// Inputs and labels
	.ginput_full {
		input,
		label {
			width: 100% !important;
		}
	}
	.ginput_left {
		input,
		select,
		textarea,
		label {
			width: 95% !important;
		}
	}

	// Responsive break for full-width input fields
	@media screen and ( max-width: $fh_gf_responsive_break_at ) {
		.ginput_full,
		.ginput_left,
		.ginput_right {
			float: none;
			width: 100% !important;
			input { width: 100% !important; }
			label { width: 100% !important; }
		}
	}
}

// Add BS3 clearfix
.gf_clear_complex { @extend .clearfix; }


//
//	Weird-ass clear-multi shit:
//
.clear-multi {

	display: table;

	// Add BS3 clearfix
	@extend .clearfix;

	// Time/date fields
	// - consider refactoring to be wrapped in .gfield_time_* and .gfield_date_*
	//   keeping non-wrapped due to compiled CSS bloat. Keep an eye on this!
	.ginput_container {
		display: table-cell;
		padding-left: 5px;
		input { width: 70px; }
		select { width: 80px; }
		// Disable the labels for time (yeahhh no need really)
		label { display: none; }
	}
	.ginput_container:first-child { padding-left: 0; }

	// This is hack-y but fixes a rendering bug on Chrome
	// TODO: clean this up
	.gfield_time_hour,
	.gfield_time_minute,
	.gfield_time_ampm {
		float: left;
	}

	// Inline block so that input element aligns properly with ":"
	.gfield_time_hour input { display: inline-block; }

	//
	//	Date fields
	//
	.gfield_date_month,
	.gfield_date_day,
	.gfield_date_year {
		// Re-enable the date field labels
		label {
			display: block;
			font-weight: normal;
		}
	}
}


//
//	Lists:
//
.gfield_list {
	// Offset the top padding for the cell spacing
	margin-top: -5px;
	tr .gfield_list_cell { padding: 5px 0; }
	.gfield_list_icons {
		vertical-align: middle !important;
		width: 60px;
		img { float: left; }
	}
}


//
//	General Datepicker:
//
.gfield .datepicker {
	display: inline-block !important;
	width: 170px !important;
}

//
//	Folkhack's jQuery UI Datepicker: (DEPRECIATED!)
//	- hide jQuery UI datepicker in lieu of using the HTML type="date" option
//	- left this around just-in-case
//
@if( $fh_gf_jqueryui_datepicker_enabled ) {

	// Local defaults from "Folkhack's Boilerplate"
	//	* Allows for stand-alone use
	//	* TODO: nix this ... I think I'm totally done f'n with jQuery UI
	$k_black:      #000000 !default;
	$k_white:      #FFFFFF !default;
	$k_mineshaft:  #303030 !default;
	$k_silver:     #CCCCCC !default;
	$k_whitesmoke: #F5F5F5 !default;

	.ui-datepicker-trigger {
		display: inline-block;
		margin-left: 5px;
	}
	.ui-widget {
		background: $k_mineshaft;
		box-shadow: 1px 4px 9px $k_silver;
	}
	.ui-datepicker {
		font-family: Verdana, sans-serif;
		font-size: 90% !important;
		padding: 0;
		a:hover { text-decoration: none; }
		.ui-datepicker-header {
			background: transparent;
			border: none;
			font-weight: normal;
			padding: 3px;
			a {
				color: $k_white;
				text-transform: uppercase;
			}
		}
		.ui-datepicker-header .ui-datepicker-title { text-align: center; }
		.ui-datepicker-month {
			margin-right: 5px;
		}
		.ui-datepicker-next {
			float: right;
			right: 2px;
		}
		.ui-datepicker-prev {
			float: left;
			left: 2px;
		}
		.ui-datepicker-next,
		.ui-datepicker-prev {
			cursor: pointer;
			top: 3px;
			span {
				font-size: 10px;
				font-weight: normal;
				margin-top: 0;
				position: relative;
				top: 0;
			}
		}
		table { margin: 0; }
		th {
			border-top: 1px solid $k_silver;
			border: none;
			color: $k_silver;
			font-size: 13px;
			font-weight: normal;
			padding: 3px 0;
			text-align: center;
		}
		td {
			background: $k_whitesmoke;
			border: none;
			color: $k_mineshaft;
			padding: 0;
			text-align: center;
		}
		td .ui-state-default {
			background: transparent;
			border: none;
			display: block;
			margin: 0;
			padding: .5em;
			text-align: center;
		}
		td .ui-state-active,
		td .ui-state-hover {
			background: $k_white;
		}
		.ui-state-disabled  { opacity: 1; }
	}

} @else {

	// Hide jQuery UI datepicker
	.ui-datepicker,
	.ui-datepicker-trigger { display: none !important; }
}


// Honeypot validation container
// - hides .gform_validation_container

.gform_validation_container {
  display: none;
}
