// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #393d1f;

$font-family-sans-serif:  "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:          18px;

$font-size-h2: floor(($font-size-base * 2.6));

$text-color: #86886e;

$navbar-height: 90px;
$navbar-default-color: #fff;
$navbar-default-bg: $brand-primary;

$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: darken(#fff, 15%);
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: transparent;

$nav-link-padding: 10px 12px;

$border-radius-base: 0;